.button {
  background: $green;
  border: 2px solid $green;
  border-radius: 0.25rem;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;
  
  &:hover, &:focus {
    background: $white;
    border: 2px solid $green;
    color: $green;
  }

  &:focus {
    outline: 1px solid $white;
    outline-offset: -4px;
  }

  &:active {
    transform: scale(0.99);
  }
  
  &:disabled {
    background: $light-grey;
    border: 2px solid $mid-grey;
    color: $dark-grey;
  }
}

.button--primary {
  background: $blue;
  border: 2px solid $blue;
  margin: 0 $s-size;
  &:hover, &:focus {
    background: $white;
    border: 2px solid $blue;
    color: $blue;
  }
}

.button--secondary {
  background: $mid-grey;
  border: 2px solid $dark-grey;
  margin: 0 $xs-size;
  padding: $xs-size $s-size;
  &:hover, &:focus {
    background: $white;
    border: 2px solid $dark-grey;
    color: $dark-grey;
  }
}

.button--secondary-last {
  @extend .button--secondary;
  margin-right: 0;
}

// Circular button
.button--delete {
  background: $white;
  border: 2px solid $dark-grey;
  border-radius: 50%;
  color: $dark-grey;
  display: inline-block;
  height: 40px;
  margin-right: $xs-size;
  padding: 0.2rem;
  width: 40px;
  &:hover, &:focus {
    background: $dark-grey;
    color: $white;
  }
}
