.content-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 $m-size;
}

.column-container {
  display: flex;
  justify-content: space-between;
}

.column__left {
  display: block;
  padding-right: $m-size;
  width: 70%;
}

.column__right {
  background-color: $light-grey;
  border-radius: 5px;
  box-shadow: 2px 2px 4px $dark-grey;
  display: block;
  font-size: $font-small;
  margin-left: $s-size;
  padding: $s-size;
  width: 25%;
}

.column__single {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

.row-container {
  display: flex;
}

.block {
  padding: $s-size 0;
}

// Equal-width buttons in a row
.button-column {
  display: flex;
  justify-content: center;
}
.button-column button {
  display: flex;
  justify-content: center;
  width: 40%;
}