.content-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 $m-size;
}

.column-container {
  display: flex;
  justify-content: space-between;
}

.column__left {
  display: block;
  padding-right: $m-size;
  width: 70%;
}

.column__right {
  background-color: $light-grey;
  border-radius: 5px;
  box-shadow: 2px 2px 4px $dark-grey;
  display: block;
  font-size: $font-small;
  margin-left: $s-size;
  padding: $s-size;
  width: 25%;
}

.column__single {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

.block {
  padding: $s-size 0;
}

// To hold equal-width buttons in a row
.button-container {
  display: flex;
  justify-content: space-between;
}

  
// Mobile screens
@media all and (max-width: $mobile-breakpoint) {
  .row-container {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media all and (max-width: $tablet-breakpoint) {
  .column-container {
    flex-direction: column;
  }
  
  .column__left {
    width: 100%;
  }
  
  .column__right {
    width: 60%;
    margin: $s-size 0 0 0;
  }
}
