.form {
  display: flex;
  flex-direction: column;
  margin-top: $xs-size;
  
  >* {  // NOTE: select all direct children
    margin: 0 auto $xs-size auto;
    width: calc(80% + #{$s-size});
  }
  
  >.button {
    margin: $xs-size auto;
    width: 40%;
  }
}
