.form {
  display: flex;
  flex-direction: column;
  margin-top: $xs-size;
  
  >* {
    margin-bottom: $xs-size;  // NOTE: select all direct children
    width: 100%;
  }
  
  >.button {
    margin: $xs-size auto;
    width: 40%;
  }
}

.form__error {
  margin: 0 0 $m-size 0;
  font-style: italic;
}

.form__holder {
  align-items: baseline;
  display: flex;
}
