.timer-block {
  background: $light-grey;
  color: $dark-grey;
  display: flex;
  font-weight: 900;
  justify-content: space-between;
  padding: $xs-size 0 0 0;
}

.timer-block__timer {
  text-align: center;
  width: 33%;
  margin: 0;
}

.timer-block__score {
  text-align: center;
  width: 33%;
}

.timer-block--background {
  color: $dark-grey;
}

.timer-block--highlight {
  color: $green;
}

.timer-block--borders {
  border-left: 3px solid $white;
  border-right: 3px solid $white;
}

// For where it appears alone on GuessingPage
.timer-block--solo {
  border: 2px solid $dark-grey;
  display: flex;
  font-size: $font-large;
  justify-content: center;
  margin-top: $m-size;
  max-width: 20rem;
}

.guess-block {
  align-items: center;
  background: $dark-grey;
  border: 2px solid $dark-grey;
  border-right: none;
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  justify-content: center;
  padding: $xs-size;
}

.guess-block__msg {
  color: white;
  font-size: $font-small;
  font-style: italic;
  margin-bottom: 0;
}

.guess-block__name {
  color: $pink;
  font-size: $font-large;
  font-weight: 900;
  margin: $s-size;
}

.guess-block--hero {
  font-size: $font-medium;
}
  