.gamePage-container {
  display: flex;
}

.timing-block {
  background: $light-grey;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.timing-block__timer {
  background: $dark-grey;
  border: 2px solid $dark-grey;
  border-bottom: none;
  color: $white;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  > p {
    align-items: center;
    background: $light-grey;
    color: $green;
    display: flex;
    font-size: $font-medium;
    height: 100%;
    justify-content: center;
    margin: 0;
  }
}

.timing-block__container {
  background: $dark-grey;
  border: 2px solid $dark-grey;
  color: $white;
  display: flex;
  justify-content: space-between;
  & :first-child {
    border-right: 1px solid $dark-grey;
  }
}

.timing-block__score {
  text-align: center;
  width: 50%;
  > p {
    background: $light-grey;
    color: $dark-grey;
    font-weight: 900;
    margin: 0;
    padding: $xs-size 0;
    width: 100%;
  }
}

.guess-block {
  align-items: center;
  background: $dark-grey;
  border: 2px solid $dark-grey;
  border-right: none;
  display: flex;
  flex-basis: 70%;
  flex-direction: column;
  justify-content: center;
  padding: $xs-size;
  width: 20rem;
}

.guess-block__msg {
  color: white;
  font-size: $font-small;
  font-style: italic;
  margin-bottom: 0;
}

.guess-block__name {
  color: $pink;
  font-size: $font-large;
  font-weight: 900;
  margin: $s-size;
}

.guess-block--hero {
  font-size: $font-medium;
}
  