.header {
  background: $dark-grey;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $xs-size 0;
}

.header__title {
  color: $white;
  font-size: 5rem;
  font-style: unset;
  margin: $s-size 0 $m-size 0;
}