.header {
  background: $dark-grey;
}

.header__title {
  color: $white;
  font-size: $font-xxlarge;
  font-style: unset;
  margin: $xs-size 0 $s-size 0;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $xs-size 0;
}

.header__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
}


// Smaller screens
@media all and (max-width: $desktop-breakpoint) {
  .header__title {
    font-size: $font-xlarge;
  }
}
  
// Mobile screens
@media all and (max-width: $mobile-breakpoint) {
  .header__links {
    flex-direction: column;
  }
}
