.input {
  border: 1px solid #CACCCB;
  border-radius: 0.25rem;
  color: $dark-grey;
  height: 50px;
  padding: 1rem;
  width: 20rem;
}

.select {
  @extend .input;
  background: $white;
  border-radius: 0.25rem;
  margin: 0 $s-size;
  width: 10rem;
}

.input__group {
  display: flex;
  flex-direction: column;
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
    margin-bottom: $l-size;
  }
}

.input__group-item {
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin: 0 $s-size 0 0;
  }
}
