.list {
  margin: $xs-size 0;
}

.list__item {
  font-style: italic;
}

.list__item-message {
  color: $mid-grey;
}

.list__header {
  font-style: italic;
  padding-top: $s-size;
}

// For names on setup page
.list__names {
  @extend .list;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 20rem;

  &:nth-child(odd) {
    background-color: $light-grey;
  }
}

.list__names-item {
  padding: 0 $xs-size 0 $s-size;
}
