* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}


body, input, select, button {
  color: $dark-grey;
  font-family: Fauna One, Garamond, sans-serif;
  font-size: 0.875rem;    // 14px
  letter-spacing: 0;
  line-height: 2;
}

h1, h2 {
  font-family: Playfair Display, Verdana, Sans-Serif;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 1.2;
  padding-right: $m-size;
}

h1 {
  color: $pink;
  font-size: $font-large;
  font-style: italic;
  margin-bottom: $m-size;
}

h2 {
  color: $dark-grey;
  font-size: $font-medium;
}

h3 {
  font-family: Fauna One, Garamond, sans-serif;
  font-size: 0.875rem;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 2;
  margin: 0;
  text-transform: uppercase;
}

a {
  color: $pink;
  text-decoration: none;
}

.is-active {
  font-weight: bold;
}


// Smaller screens
@media all and (max-width: $desktop-breakpoint) {
  h1 {
    font-size: $font-medium;
  }
  
  h2 {
    font-size: $font-small;
  }
}
